<%- include("./includes/head.ejs"); %>
  
  <style>
    .first_cont {
      height: 100vh;
    }

    .mobileCol {
      display: none;
    }

    .planCol {
      position: relative;
      // background: linear-gradient(to bottom, #ff99cc, #f9046b);
      border-radius: 10px;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .planCol:hover {
      transform: scale(1.05); /* Slightly enlarge on hover */
      box-shadow: 0px 8px 15px rgba(249, 4, 107, 0.5); /* Add a soft shadow */
      z-index: 2; /* Bring it above other elements */
    }

    .freeDiv {
      display: none;
      top: -9px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    .list-group {
      border: 0px !important;
    }

    .g_footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    
    .footer_a {
      text-decoration: none;
      color: grey;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      transition: color 0.3s, transform 0.3s; /* Smooth transitions */
    }

    .footer_a:hover {
      color: black !important; /* Hover color */
      transform: translateY(-5px); /* Small hover animation */
    }
    
    .first_cont {
        margin-bottom: 30px;
        padding: 50px;
    }
    
    @media (max-width: 800px) {
      .first_cont {
        margin-bottom: 80px;
      }
    }
    
    @media (max-width: 600px) {
      .first_cont {
        margin-bottom: 200px;
        padding: 70px 10px 10px 10px;
      }

      .mobileCol {
        display: block;
      }

      .planCol {
        display: none;
      }

      .plan-card {
        flex: 0 0 32%;  /* flex-grow: 0, flex-shrink: 0, flex-basis: 100% */
      }

      .plan-card .card {
        cursor: pointer;
      }

      .plan-card .card:hover {
        border-color: #f9046b;
        box-shadow: 0 2px 8px rgba(249, 4, 107, 0.2);
      }

      .plan-card.selected .card {
        border-color: #f9046b;
        background-color: #fff1f6;
      }

      .plan-name {
        font-size: 1.1rem;
        font-weight: 600;
        color: #1f2937;
      }

      .plan-duration {
        font-size: 0.9rem;
        color: white;
      }

      .plan-price {
        font-size: 1.1rem;
        font-weight: 600;
        color: white;
      }

      .checkmark {
        color: white;
        font-weight: bold;
      }

      .selected .checkmark {
        display: block !important;
      }

      .continue-btn {
        background: #f9046b;
        color: white;
        border: none;
        padding: 12px;
        border-radius: 8px;
        font-weight: 600;
      }

      .continue-btn:hover {
        background: #d0035a;
      }
      
      .g_footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      
      .g_footer div {
        margin-bottom: 10px;
        margin-right: 30px;
      }
      
      .footer_a {
        font-size: 14px;
      }
    }

    @media (max-width: 320px) {
      .plans-container {
          display: flex;
          flex-wrap: wrap; /* Allows items to wrap to the next line */
          align-items: stretch; /* Ensure all items stretch to the same height */
      }

      .plan-card {
        flex: 0 0 20%;  /* flex-grow: 0, flex-shrink: 0, flex-basis: 100% */
        height: 150px;
        display: flex; /* Ensure the card content stretches inside the container */
        flex-direction: column;
      }
    }
  </style>
  
  <header>
		<%- include("./includes/header.ejs"); %>
	</header>
    
  <section>
    <div class="container first_cont">
      <div class="row justify-content-center">                
        <div class="col-12 col-xl-1 col-lg-2"></div>

        <div class="col-12 col-xl-10 col-lg-8 border-0 mt-4">
          <h3 class="text-start text-uppercase">Choose the plan that's right for you</h3>

          <div class="mt-5">
            <div class="row row-cols-sm-3 row-cols-md-3 row-cols-xl-3 g-4">
              <% plans.forEach(i => { %>
                <div class="col planCol position-relative">
                  <a href="/subscribe?plan=<%= i.name %>" style="text-decoration: none;">
                    <div class="freeDiv d-none position-absolute text-center">
                      <div class="bg-white text-fuchsia pt-1 pb-1 pe-3 ps-3" style="font-size: 14px; border-radius: 5px; color: #f9046b; font-weight: bold;">
                        7 days free trial
                      </div>
                    </div>
                    <div class="card h-100" style="border: 2px solid #f9046b; border-radius: 10px; box-shadow: 0px 4px 10px rgba(249, 4, 107, 0.3);">
                      <div class="card-body" style="border-radius: 6px 6px 0 0; background: linear-gradient(-30deg, #f9046b, #ff80aa);">
                        <h6 class="card-title text-white"><%= i.name %></h6>
                        <div class="text-white" style="font-size: 12px;">Starts at</div>
                        <p class="card-text text-white" style="font-weight: 600; font-size: 22px;">
                          £<%= Number(i.amount) / 100 %>
                          <span class="ms-2" style="font-weight: 500; font-size: 12px;">per <%= i.interval_count %> <%= i.interval %>/user</span>
                        </p>
                        <div>
                          <small class="text-white"><%= i.description %></small>
                        </div>
                      </div>
                      <ul class="list-group list-group-flush mt-3 me-3 ms-3">
                        <li class="list-group-item">
                          <small class="text-body-secondary">Monthly Price (GBP)</small> <br />
                          <b>
                            <sup class="border-0 p-0" style="font-size: 10px;">£</sup>
                            <span class="p-0"><%= Number(i.amount) / 100 %></span>
                          </b>
                        </li>
                        <li class="list-group-item">
                          <small class="text-body-secondary">Duration</small> <br />
                          <b>
                            <span class="p-0 text-capitalize"><%= i.interval_count %> <%= i.interval %></span>
                          </b>
                        </li>
                        <li class="list-group-item">
                          <small class="text-body-secondary">Resolution</small> <br />
                          <b>Full HD</b>
                        </li>
                        <li class="list-group-item">
                          <small class="text-body-secondary">Watch on Your Phone, Tablet</small> <br />
                          ✔
                        </li>
                        <li class="list-group-item">
                          <small class="text-body-secondary">Easy Change or Cancel</small> <br />
                          ✔
                        </li>
                        <li class="list-group-item">
                          <small class="text-body-secondary">ADS</small> <br />
                          <span style="color: red; font-weight: bold;">X</span>
                        </li>
                      </ul>
                      <div class="card-footer"></div>
                    </div>
                  </a>
                </div>
              <% }) %>

              <div class="col mobileCol position-relative">
                <div class="plans-container d-flex flex-nowrap flex-row align-items-center justify-content-between border-0">
                  <% plans.forEach(plan => { %>
                    <div class="plan-card mb-4" data-plan="<%= plan.name.toLowerCase() %>">
                      <div class="card" style="border: 1px solid #e5e7eb; border-radius: 12px; transition: all 0.3s ease; background: linear-gradient(-30deg, #f9046b, #ff80aa);">
                        <div class="card-body pe-3 ps-3 pt-4 pb-4">
                          <div class="d-flex justify-content-between align-items-center">
                            <div>
                              <h3 class="plan-name mb-1"><%= plan.name %></h3>
                              <p class="plan-duration mb-0">
                                <%= plan.interval_count %> <%= plan.interval %>
                              </p>
                              
                              <span class="plan-price">
                                £<%= Number(plan.amount) / 100 %>
                              </span>
                              <span class="checkmark ms-3 d-none">✓</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% }) %>
                </div>

                <!-- Plan Details Section -->
                <div id="planDetails" class="mt-4 p-4 d-none" style="border: 1px solid #e5e7eb; border-radius: 12px;">
                    <h4 class="selected-plan-name mb-2"></h4>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                      <span>Total amount</span>
                      <span class="selected-plan-price fw-bold"></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                      <span>Video and sound quality</span>
                      <span class="selected-plan-quality fw-bold">Good</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                      <span>Resolution</span>
                      <span class="selected-plan-quality fw-bold">Full HD</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                      <span>ADS</span>
                      <span class="selected-plan-quality fw-bold">No Ads</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                      <span>Supported Devices</span>
                      <span class="selected-plan-quality fw-bold">Mobile, Tablet, Laptp, Desktop</span>
                    </div>
                    <p class="selected-plan-description text-gray-600 mt-3"></p>
                    <a href="#" type="button" class="continue-btn w-100 mt-4 text-center" style="text-decoration: none;">Continue</a>
                </div>
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-1 col-lg-2"></div>
      </div>
    </div>
  </section>

  <section>
    <div class="container" style="height: 200px;"></div>
  </section>

  <script>
    const plan = <%- JSON.stringify(plans) %>;
  </script>

  <script>
    globalThis.document.addEventListener('DOMContentLoaded', function() {
      const plans = plan;
      const planCards = document.querySelectorAll('.plan-card');
      const planDetails = document.getElementById('planDetails');
      const continueBtn = planDetails.querySelector('.continue-btn');

      planCards.forEach(card => {
        card.addEventListener('click', function(e) {
          // console.log(continueBtn);

          // Remove selection from other cards
          planCards.forEach(c => c.classList.remove('selected'));
          
          // Add selection to clicked card
          this.classList.add('selected');
          
          // Get plan data
          const planName = this.dataset.plan;
          const plan = plans.find(p => p.name.toLowerCase() === planName);
          
          // Update plan details
          planDetails.querySelector('.selected-plan-name').textContent = plan.name;
          planDetails.querySelector('.selected-plan-description').textContent = plan.description;
          planDetails.querySelector('.selected-plan-price').textContent = `£ ${Number(plan.amount) / 100}`;

          const continueUrl = `/subscribe?plan=${plan.name.toLowerCase()}`;  // Customize the URL as per your logic
          continueBtn.setAttribute('href', continueUrl);
          
          // Show plan details
          planDetails.classList.remove('d-none');
        });
      });
    });
  </script>

<%- include("./includes/end.ejs"); %>